<!DOCTYPE html>
<html>
  <head>
    <title>Contest</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
    <script type="text/javascript" src='js/blind_app.js'></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />

    <!--colorpicker-->
    <link rel="stylesheet" href="plugins/colorpicker/css/colorpicker.css" type="text/css" />
    <script type="text/javascript" src="plugins/colorpicker/js/colorpicker.js"></script>
  </head>
  <body>
    <div id="contest">
      <div id="windows">
        <%#<img src='images/window.png' width='30' /> %>
        <%#<img src='images/window_2.png' width='30' /> %>
        <img src='images/window.svg' width='30' /> 
      </div>  
      <div id="blinds">
        <%#<img src='images/blind.png' width='30' /> %>
        <img src='images/blind.svg' width='30' /> 
      </div>
    </div>
    <script type="text/javascript" charset="utf-8">
      $(function(){
        BlindApp.init('contest')
      })
    </script>

  </body>
</html>
