#canvas {
  float: left;
  padding: 10px;
}

#source_canvas {
  display: none;
}

#destination_canvas {
}

#toolbar {
}
#toolbar img {
  width: 50px; 
  padding: 4px;
  border: 2px solid #fff;
}
#toolbar .active {
  border: 2px solid #ddd;
}

#settings {
  float: left;
  border: 1px solid #ddd;
}
#settings #show {
  padding: 10px;
}
#settings #colors {
  padding: 10px;
}
#settings #scale{
  padding: 10px;
}
